{% extends "layout/default.j2" %}
{% block title %}Home{% endblock title %}
{% block body %}
<h1 class="text-3xl font-bold">Hello Jinja!</h1>
<button class="btn btn-primary" hx-get="/clicked/0" hx-swap="outerHTML">Click me!</button>
{% endblock body %}