{% extends "layout/default.j2" %}
{% block title %}Home{% endblock title %}
{% block body %}
<h1 class="text-3xl font-bold">Hello Jinja!</h1>
<button class="btn btn-primary">Hello</button>
{% endblock body %}